@import '../../styles/mixins';
@import '../../styles/variables';
.info-block {
	width: 650px;
	height: 90px;
	margin: 0 auto;
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include info-block;
}

.flags,
.seconds {
	display: flex;
	div {
		@include bg;
		width: 30px;
		height: 55px;
		background-repeat: no-repeat;
		background-size: 347px 210px;
		background-position: -315px 0px;
	}
}

.seconds,
.flags {
	div {
		&[datatype='9'] {
			background-position: -280px 0px;
		}
		&[datatype='8'] {
			background-position: -245px 0px;
		}
		&[datatype='7'] {
			background-position: -210px 0px;
		}
		&[datatype='6'] {
			background-position: -175px 0px;
		}
		&[datatype='5'] {
			background-position: -140px 0px;
		}
		&[datatype='4'] {
			background-position: -105px 0px;
		}
		&[datatype='3'] {
			background-position: -70px 0px;
		}
		&[datatype='2'] {
			background-position: -35px 0px;
		}
		&[datatype='1'] {
			background-position: 0px 0px;
		}
	}
}

.face {
	width: 65px;
	height: 65px;
	@include bg;
	background-size: 350px 210px;
	background-position: 0px -61px;
}
.restart {
	background-position: -69px -61px;
}

.scared {
	background-position: -136px -60px;
}

.win {
	background-position: -204px -60px;
}

.end {
	background-position: -272px -60px;
}
