@import '../../styles/mixins';
@import '../../styles/variables';
.info-block {
	width: 650px;
	height: 90px;
	margin: 0 auto;
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include info-block;
}

.minutes,
.seconds {
	display: flex;
	div {
		width: 32px;
		height: 56px;
		background-repeat: no-repeat;
		background-size: 320px 200px;
		@include bg;
		background-position: 0px 0px;
	}
}

.minutes {
	div:nth-of-type(2) {
		@include bg;
		background-position: -95px 0px;
	}
}

.face {
	width: 65px;
	height: 65px;
	@include bg;
	background-size: 350px 210px;
	background-position: 0px -61px;
}
.restart {
	background-position: -69px -61px;
}

.scared {
	background-position: -136px -60px;
}

.win {
	background-position: -204px -60px;
}

.end {
	background-position: -272px -60px;
}
