@import '../../styles/mixins';
@import '../../styles/variables';

.grid-element {
	outline: 1px solid #7b7b7b;
	@include bg;
	@include bomb;
	background-position: 1px -127px;
	&.valid {
		&.checked {
			background-position: -42px -127px;
			@include number;
			&[datatype='1'] {
				@include one;
			}
			&[datatype='2'] {
				@include two;
			}
			&[datatype='3'] {
				@include three;
			}
			&[datatype='4'] {
				@include four;
			}
			&[datatype='5'] {
				@include five;
			}
			&[datatype='6'] {
				@include six;
			}
			&[datatype='7'] {
				@include seven;
			}
			&[datatype='8'] {
				@include eight;
			}
		}
	}
	&.flag {
		background-position: -82px -127px;
	}
	&.question {
		background-position: -122px -127px;
	}
	&.bomb {
		&.checked {
			@include bomb;
			&.clicked {
				background-position: -247px -127px;
			}
		}
	}
}
