@import '../../styles/mixins';
@import '../../styles/variables';

.grid {
	width: 650px;
	height: 650px;
	margin: 16px auto 0;
	@include info-block;
}

.grid {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr);
}
